@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #802424;
  --secondary-color: #363636;
  --accent1-color: #f3efe8;
  --accent2-color: #9E543A;

  /* change the values below to your chosen font(s) */
  --heading-font: "Metal Mania";
  --paragraph-font: "Roboto", Helvetica, sans-serif;
}

*{
    margin: 0;
}

body{
    background-color: var(--secondary-color);
}

/* Monster Card */
.monster-card{
    width: 280px;
    height: 380px;
    border: 1px black solid;
    background: var(--primary-color);
    border-radius: 15px;
    color: var(--accent1-color);
    padding: 1px;
    margin: 15px;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 40px 1fr;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

    flex-shrink: 0;

}

.more{
    position:absolute;
    z-index: 10;
}

.stats{
    justify-items: center;
    align-self: start;
    
    
}

.profile{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: top;

}

.ability-scores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 13px;
}

.ability-scores p {
    font-size: 14px;
    padding: 3px;

}

.bttn{
    margin: 10px;
    border-radius: 5px;
}
.hide{
    display: none;
}

/* Header menu bar */


.logo{
    width: 50px;
    margin: 5px;
}

.menu{
    display: grid;
    grid-template-columns: 50px 1fr;
    background-color: var(--primary-color);
}

.menu nav{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

a:hover{
    background-color: var(--secondary-color);
}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    height: 60px;
    color: var(--accent1-color);

}

/* Hero image and title */


.hero-container{
    position: relative;
    display: flex;
    align-items: center;

}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-title{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: var(--heading-font);
    color: var(--accent1-color);
    font-size: 70px;

    text-shadow: 5px 5px 7px rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3);
    

}

/* search bar */

.search-form{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 25px;
}

.search{
    width: 300px;
    padding: 15px;
    border-radius: 5px 0 0 5px;
}

.search-bttn{
    border-radius: 0 5px 5px 0;
}

/* Monster Gallery */

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    /* padding: 10px; */

    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 780px){
    .hero-container{
        position: relative;
    }

    .menu nav{
        justify-content: end;
    }
    .hero-img{
        height: 450px;

    }
    .hero-title{
        font-size: 100px;
        height: auto;
    }
    .card-container{
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: start;
        /* margin: 0 30px 30px 0px; */
    }  

    .search{
        width: 500px;
    }

}

@media screen and (min-width: 1600px){
    body{
    margin-left: 50px;
    margin-right: 50px;
}

}