@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Goudy+Bookletter+1911&display=swap');

:root {
    --primary-color: rgb(23, 126, 137); /* Teal */
    --secondary-color: rgb(10, 16, 69); /* Penn Blue */
    --accent-color: rgb(171, 146, 191); /* African Violet */
    --heading-font: "Edu NSW ACT Hand Precursive", impact, sans-serif;
    --body-font: "Goudy Bookletter 1911", Arial, sans-serif;
}
.skiptocontent a{
    position:absolute;
    left: -1000px;
}

.skiptocontent a:focus {
    left: 0;
}

.Filters{
    border: 1px var(--accent-color) solid;
}
body{
    background-color: var();
}
.nav-bar {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: end;
    justify-items: end;
    margin: 0 auto;
    max-width: 80%;
    padding: 1em;
}

.book-details{
    border-right: 1px var(--accent-color) solid;
    text-align: right;
    padding: 1em;
}
.container{
    display: grid;
    grid-template-columns: 1fr 350px;
}

.date{
    font-size: 1.2em;
}

article > div{
    display: grid;
    grid-template-columns: 350px 1fr;

}

article > section {
    padding: 1em;
}

article{
    padding: 1em;
}


h1{
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2em;
    text-align: center;
    padding: 0.8em
}

h2{
    font-family: var(--heading-font);
    color: var(--accent-color);
    font-size: 1.5em;
    text-align: center;
}

ul{
    list-style-type: none;
}

nav{
    border-bottom: 1px solid var(--accent-color); 
    border-top: 1px solid var(--accent-color);

}
a{
    font-size: 1.1em;
}

img{
    display: block;
    margin: 0 auto;
}

p{
    padding: 1em;
}